backports.tarfile==1.2.0
dj-database-url==3.0.1
django
importlib-metadata==8.0.0
jaraco.collections==5.1.0
packaging==24.2
pip-chill==1.0.3
platformdirs==4.2.2
psycopg2-binary==2.9.10
python-decouple==3.8
tomli==2.0.1
